---

- name: Include version-specific variables for Ubuntu.
  ansible.builtin.include_vars: "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_version'] }}.yml"
  when: ansible_facts['distribution'] == 'Ubuntu'
- name: Include version-specific variables for RedHat
  ansible.builtin.include_vars: "RedHat-{{ ansible_facts['distribution_major_version'] }}.yml"
  when: ansible_facts['os_family'] == "RedHat"
- name: Include specific variables for Alpine
  ansible.builtin.include_vars: "Alpine.yml"
  when: ansible_facts['distribution'] == 'Alpine'

- name: Debug | var memcapture_use_linpmem
  ansible.builtin.debug:
    var: memcapture_use_linpmem
- name: Debug | var memcapture_use_fmem
  ansible.builtin.debug:
    var: memcapture_use_fmem
- name: Debug | var memcapture_use_lmg
  ansible.builtin.debug:
    var: memcapture_use_lmg
- name: Debug | var memcapture_use_avml
  ansible.builtin.debug:
    var: memcapture_use_avml
- name: Debug | var memcapture_capture
  ansible.builtin.debug:
    var: memcapture_capture

- name: Check appropriate directories exist
  ansible.builtin.file:
    dest: "{{ item }}"
    state: "directory"
    mode: "0700"
  with_items:
    - "{{ dst_mount }}"
    - "{{ dst_path }}"
    - "{{ memcapture_bin_path }}"

- name: Windows memory capture
  ansible.builtin.import_tasks: memory-win.yml
  when: ansible_facts['os_family'] == 'Windows'

- name: Import dwarf2json
  ansible.builtin.import_tasks: dwarf2json.yml
  when: ansible_facts['os_family'] == 'Darwin' or ansible_facts['system'] == 'Linux'

- name: Darwin memory capture
  ansible.builtin.import_tasks: memory-darwin.yml
  when: ansible_facts['os_family'] == 'Darwin'

# capture memory
## https://docs.google.com/presentation/d/1savcvqRcMXpRyVrybWvbHGbJTgjInZcwLB5VokJdKa8/edit#slide=id.g26dcd0ccb_030
# "c:\Program Files\Rekall\winpmem_1.6.0.exe" -e - | c:\Users\mic\Desktop\ncat.exe 172.16.21.93 8001  --ssl
# ncat -l 8001 --ssl -v > myimage.elf

- name: Import memory-linpmem
  ansible.builtin.import_tasks: memory-linpmem.yml
  when: >
    ansible_facts['system'] == 'Linux' and ansible_facts['architecture'] == 'x86_64' and
    memcapture_use_linpmem is defined and memcapture_use_linpmem | bool
  tags:
    - linpmem

## the next two applies mostly for i386 arch or older system
- name: Import memory-fmem
  ansible.builtin.import_tasks: memory-fmem.yml
  when: >
    ansible_facts['system'] == 'Linux' and ansible_facts['architecture'] == 'i386' and
    memcapture_use_fmem is defined and memcapture_use_fmem | bool
  tags:
    - fmem

- name: Import memory-lmg
  ansible.builtin.import_tasks: memory-lmg.yml
  when: ansible_facts['system'] == 'Linux' and memcapture_use_lmg is defined and memcapture_use_lmg | bool
  tags:
    - lmg

- name: Linux | avml
  when: ansible_facts['system'] == 'Linux' and memcapture_use_avml is defined and memcapture_use_avml | bool
  block:
    - name: Import memory-avml
      ansible.builtin.import_tasks: memory-avml.yml
      when: not memcapture_avml_use_minimal | bool
      tags:
        - avml
    - name: Import memory-avml-minimal
      ansible.builtin.import_tasks: memory-avml-minimal.yml
      when: memcapture_avml_use_minimal | bool
      tags:
        - avml
    - name: Import memory-avml-capture
      ansible.builtin.import_tasks: memory-avml-capture.yml
      tags:
        - avml
    - name: Import memory-avml-convert
      ansible.builtin.import_tasks: memory-avml-convert.yml
      when: memcapture_avml_use_convert | bool

## compress file after?
- name: Linux but not Alpine
  when: ansible_facts['system'] == 'Linux' and ansible_facts['distribution'] != 'Alpine'
  block:
    - name: Ensure we have output files (GNU find)
      ansible.builtin.shell: "find {{ dst_path }}/ -ls | egrep '(aff4|lime|zip|fmem|raw|map)'"
      register: lsout
      changed_when: false
      ignore_errors: true
    - name: Debug | output files listing
      ansible.builtin.debug:
        var: lsout.stdout_lines
- name: Alpine
  when: ansible_facts['system'] != 'Linux' or ansible_facts['distribution'] == 'Alpine'
  block:
    - name: Ensure we have output files
      ansible.builtin.shell: "find {{ dst_path }}/ | egrep '(aff4|lime|zip|fmem|raw|map)'"
      register: lsout2
      changed_when: false
      ignore_errors: true
    - name: Debug | output files listing
      ansible.builtin.debug:
        var: lsout2.stdout_lines

- name: Debug | var memcapture_pull
  ansible.builtin.debug:
    var: memcapture_pull
- name: Fetch files
  when: memcapture_pull is defined and memcapture_pull | bool
  block:
    # - name: archive output content
    ## v2.3
    #   archive: "src={{ dst_path }} dest={{ dst_mount }}/memcapture-{{ prefix }}-memory.tar.gz"
    #   command: >
    #     tar czf {{ dst_mount }}/memcapture-{{ prefix }}-memory.tar.gz {{ dst_path }}/
    #   args:
    #     creates: "{{ dst_mount }}/memcapture-{{ prefix }}-memory.tar.gz"
    ## 2.6+ for net_get
    - name: Retrieve output dir to orchestrator
      ansible.netcommon.net_get:
        src: "{{ item }}"
        dest: "{{ memcapture_pulldir }}/"
        protocol: sftp
        ## Note: too memory consuming to transfer with python/base64
        # fetch: "src={{ item }} dest={{ memcapture_pulldir }}/"
      with_fileglob:
        - "{{ dst_path }}/*"
      # with_items:
      #   - "{{ dst_mount }}/memcapture-{{ prefix }}-memory.tar.gz"
      when: ansible_version.full is version_compare('2.6', '>=')
